h1 {
	text-align: center;
}
h3 {
    text-align: center;
}
ul#bandMembers {
	margin-left: 75px;
}
ul#shadowStrings {
	margin-left: 8px;
}
.albumCover {
	width: 525px;
	margin-left: auto;
	margin-right: auto;
}
table {

	border-collapse: collapse;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
table, th, td, tr {
	border: 1px solid black;
}
th.tracks{
	width: 10%;
}
th.titles{
	width: 30%;
}
th.length{
	width: 60%;
}
tr.tableHeader {
	background-color: gray;
}
