header {
	text-align: center;
	font-size: 28pt;
	font-weight: bold;
}
footer {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
}
a {
	font-size: 12pt;
	padding-right: 10px;
	padding-left: 20px;
}