header, h1 {
	text-align: center;
	font-size: 28pt;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
footer, .footer {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
a {
	font-size: 12pt;
	padding-right: 10px;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: none;
}
a:link {
	color: #151B54;
}
a:visited {
	color: #8C001A;
	
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
body {
	background-color: rgb(238,238,238);
}
.col-centered{
	float: none;
	margin: 0 auto;
}
