h1 {
	text-align: center;
}
h3 {
    text-align: center;
}
ul#bandMembers {
	margin-left: 75px;
}
ul#shadowStrings {
	margin-left: 8px;
}
a {
	font-family: Montserrat;
	text-decoration: none;
	font-weight: none;
}
a:hover {
	text-decoration: underline;
	background-color: #DC381F;
}
thead th {
	background-color: #BDBDBD;
	text-align: center;
}
caption {
	text-align: center;
	font-size: 20pt;
	color: black;
}
