header {
	text-align: center;
	font-size: 28pt;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
footer {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
a {
	font-size: 12pt;
	padding-right: 10px;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
}